<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/animations.css">
  <script src="//js.leapmotion.com/leap-0.6.4.min.js"></script>
  <script src="//js.leapmotion.com/leap-plugins-0.1.10.min.js"></script>
  <script src="//js.leapmotion.com/leap.rigged-hand-0.1.7.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyGMI9Ay9WxySDP7LtSlprGnBYsA49an4"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="http://d3js.org/queue.v1.min.js"></script>
  <script src="http://d3js.org/topojson.v1.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="javascripts/index.js"></script>
  <script type="text/javascript" src="javascripts/leap-map.js"></script>
  <script type="text/javascript" src="javascripts/jquery.smoothState.min.js"></script>
  <script type="text/javascript" src="javascripts/smoothState.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Lato|Roboto+Slab' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="main" class="m-scene" style="height: 100%;">

    <div id="dim_map"></div>
      <div id="palm_menu">
        <div id="menu" class="text-center">
          <h1>MENU</h1>
      </div>
    </div>

    <div class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <p>
            The Nove Score matches regions of interest based off the information
            you provided in the sidebar. Using the Nove Factor, we are able to
            calculate and rank regions within San Diego County with the Nove Score,
            where 10 is the best match and 1 is the worst match.
          </p>
        </div>
      </div>
    </div>

    <div class="scene_element scene_element--fadeinup" style="height: 100%;">
      <div id="sidebar_wrapper">
        <div>
          <p class="font_lato">
            Enter some information about the idea home you're looking for, and the
            Nove Factor will tell you what regions are right for you!
          </p>
        </div>
        <form id="my_form">
          <div class="select_div">
            <label class="font_lato">Number of children?</label>
            <select class="form-control" id="dynam_selection">
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
          <div id="education_selection"></div>
          <div class="select_div">
            <label class="font_lato">What type of home are you looking for?</label>
            <select class="form-control select-wrapper" id="home_selection">
              <option>Single Family Household</option>
              <option>Single Family Multi Unit</option>
              <option>Multi-Family</option>
              <option>Mobile Homes</option>
            </select>
          </div>
          <div class="select_div">
            <label class="font_lato">What's your budget?</label>
            <select class="form-control" id="budget_selection">
              <option>Below $150,000</option>
              <option>$150,000 - $199,000</option>
              <option>$200,000 - $299,000</option>
              <option>$300,000 - $499K,000</option>
              <option>$500,000 - $999,000</option>
              <option>Greater than $1,000,000</option>
            </select>
          </div>
        </form>
        <button id="update_map" class="btn btn-default btn_center">Submit</button>
      </div>
      <div id="map_canvas" class="map_canvas"></div>
      <div id="legend">
        Nove Score
        <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target=".bs-example-modal-md">
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        </button>
        <div class="row">
          <div class="col-xs-6">10</div>
          <div class="legend_color" id="color1"></div>
        </div>
        <div class="legend_color" id="color2"></div>
        <div class="legend_color" id="color3"></div>
        <div class="legend_color" id="color4"></div>
        <div class="legend_color" id="color5"></div>
        <div class="legend_color" id="color6"></div>
        <div class="legend_color" id="color7"></div>
        <div class="legend_color" id="color8"></div>
        <div class="row">
          <div class="col-xs-6">1</div>
          <div class="legend_color" id="color9"></div>
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>
