<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Lato|Roboto+Slab' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="stylesheets/landing-stylesheet.css"></li>
  <link rel="stylesheet" type="text/css" href="stylesheets/animations.css">
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="javascripts/jquery.smoothState.min.js"></script>
  <script type="text/javascript" src="javascripts/smoothState.js"></script>
</head>
<body>
<!--   <nav class="navbar navbar-default navbar-fixed-top navbar_inner">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Team Nove</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      </div>
  </nav> -->

  <img src="images/bg1.jpg" class="bg">
  <div class="container m-scene" id="main">
    <div class="row scene_element scene_element--fadein">
      <div class="col-md-6" style="margin-top: 155px;">
        <h1 class="font_style font_title">Nove</h1>
        <h1>________</h1>
        <h3 class="font_subtitle">
          Find the perfect area for your kids.
        </h3>
        <h3 class="font_subtitle">
          Find the perfect area in your budget.
        </h3>
        <h3 class="font_subtitle">
          Find the perfect area to call your home.
        </h3>
        <a href="/index" class="button font_subtitle">Start</a>
      </div>
    </div>
  </div>

</body>
</html>