html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#sidebar_wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  border-right: 1px solid #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  padding: 20px;
}

#map_canvas {
  height: 100%;
  width: auto;
  margin-left: 250px;
  padding: 0;
}

.container_margin {
  margin-top: 31px;
}

#dim_map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  height: 100%;
  z-index: 1;
  opacity: 0.75;
  visibility: hidden;
  margin-left: 250px;
}

 #palm_menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 15%;
  margin: auto;
  margin-top: 12%;
  width: 700px;
  height: 400px;
  background-color: white;
  border-style: solid;
  border-color: white;
  border-width: 4px;
  z-index: 2;
  visibility: hidden;
}

.SvgOverlay {
  position: relative;
  width: auto;
  height: 100%;
}

.SvgOverlay svg {
  position: absolute;
  top: -4000px;
  left: -4000px;
  width: 8000px;
  height: 8000px;
}

.SvgOverlay path {
  stroke: black;
  stroke-width: 1px;
  fill: #adadad;
  fill-opacity: .8;
}

path:hover {
  stroke: black;
  stroke-width: 2px;
}

.select_div {
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn_center {
  display: block;
  margin: 0 auto;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}