html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#sidebar_wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  padding: 20px;
  background:rgba(53,53,53,0.7);
}

select {
  background-color: #ffffff !important;
  background-image: url('../images/spritesheet-retina.png') !important;
  background-repeat: no-repeat;
  background-size: 10px auto;
  background-position: 175px 10px;
  border: none !important;
  border-radius: 0 !important;
  box-sizing: border-box !important;
  color: #232323 !important;
  cursor: pointer !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -ms-appearance: none !important;
  -o-appearance: none !important;
}


#map_canvas {
  height: 100%;
  width: auto;
  padding: 0;
}

.container_margin {
  margin-top: 51px;
}

#dim_map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  height: 100%;
  z-index: 1;
  opacity: 0.75;
  visibility: hidden;
  margin-left: 250px;
}

 #palm_menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 15%;
  margin: auto;
  margin-top: 12%;
  width: 700px;
  height: 400px;
  background-color: white;
  border-style: solid;
  border-color: white;
  border-width: 4px;
  z-index: 2;
  visibility: hidden;
}

.SvgOverlay {
  position: relative;
  width: auto;
  height: 100%;
}

.SvgOverlay svg {
  position: absolute;
  top: -4000px;
  left: -4000px;
  width: 8000px;
  height: 8000px;
}

.SvgOverlay path {
  stroke: black;
  stroke-width: 1px;
  fill: #adadad;
  fill-opacity: .55;
}

path:hover {
  stroke: black;
  stroke-width: 2px;
}

.select_div {
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn_center {
  display: block;
  margin: 0 auto;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

label {
  color: #ffffff;
}

.font_lato {
  font-family: 'Lato', sans-serif;
  color: #ffffff;
}

#legend {
  background: white;
  padding: 10px;
}

#legend_help{
  display: hidden;
  background: white;
  padding: 5px;
}

.legend_color {
  height: 20px;
  width: 20px;
  margin: 0 auto;
  opacity: .55;
}

#color1 {
  background-color: #1a9850;
}

#color2 {
  background-color: #66bd63;
}

#color3 {
  background-color: #a6d96a;
}

#color4 {
  background-color: #d9ef8b;
}

#color5 {
  background-color: #ffffbf;
}

#color6{
  background-color: #fee08b;
}

#color7 {
  background-color: #fdae61;
}

#color8 {
  background-color: #f46d43;
}

#color9 {
  background-color: #d73027;
}

.modal-content {
  padding: 15px;
}